header.header
  .container
    a(href="#").logo Promo
      span music
    .header-signup
      a(href="#").header-lang Ru
        .header-lang__arrow
      a(href="#").header-bell
        +icon('bell', 'header-bell__icon hover-icon-accent')
      a(href="#").header-mail
        +icon('mail', 'header-mail__icon hover-icon-accent')
      a(href="#").header-profile
        .header-profile__name Профиль
        +icon('enter', 'header-profile__icon')
