.footer {
  display: flex;
  flex: 0 0 auto;
  padding: 32px 0;
  background-color: $header-footer-bg;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    font-family: 'OpenSans', sans-serif;
    font-weight: 600;
  }
 }