extends template/inside

block variables
	- var title = 'Вопрос/ответ'
	- var pageClass = 'my-order-page'

block content
	h2.h2.faq__maintitle Вопрос/ответ
	.faq-wrapper
		+question()
		+question()
		+question()
		+question()
		+question()
		+question()
		+question()
		+question()
