extends template/inside

block variables
	- var title = 'Сделать заказ'
	- var pageClass = 'make-order-page'

block content
	h2.h2.order__maintitle Сделать заказ
	form(action="#").order-form
		.order-form-categories
			.order__title Категория
			.categories-container
				+categories-item('Soundcloud', 'soundcloud', 'SoundCloud_logo.png')
				+categories-item('Mixcloud', 'mixcloud', 'mixcloud.png')
				+categories-item('Promodj', 'promodj', 'logotip-promodj.png')
				+categories-item('Pyromusic', 'pyromusic', 'pyromusic.png')
				+categories-item('Mixupload', 'mixupload', 'mixupload.png')
				+categories-item('Bananastreet', 'bananastreet', 'bananastreet.png')
				+categories-item('Djanemag', 'djanemag', 'djane-mag.png')
				+categories-item('Djanetop', 'djanetop', 'djane-top.png')
		.order-form-services
			.order__title.services__title Услуга
			select.services-select
				option(selected="selected").services-select__item Выберете услугу
				option.services-select__item Услуга 1
				option.services-select__item Услуга 2
				option.services-select__item Услуга 3
			.order__title.services__title Срок выполнения
			select.services-select
				option(selected="selected").services-select__item Выберете время выполнения
				option.services-select__item Услуга 1
				option.services-select__item Услуга 2
				option.services-select__item Услуга 3
			.order__title.services__title Ссылка на материал
			.services-url
				.services-url-block 
					input(type="url", name="", placeholder="Вставьте ссылку").services-url__input
			.services-add-url <span>+</span> Добавить ссылку
		.order-form-descr
			.order__title Описание услуги
			.descr__text Хотите отстроиться от большинства копирайтеров, получать хорошо оплачиваемые заказы и выстраивать долгосрочные партнерские отношения с заказчиком? Тогда вам обязательно нужно научиться правильно писать текст для наиболее коммерческой страницы многостраничного сайта — «Услуга».
		.order-form-notes
			.order__title Примечания к заказу
			textarea(name="", cols="30", rows="10")
		.order-form-total
			.order__title Примечания к заказу
			.total-field
				.total__sum Стоимость услуги <span>2500 ₽</span>
				.total__time Время выполнения <span>1-3 дня</span>