.profile {
  &-page .wrapper .wrapper-content { height: 100%; }
  &__maintitle { margin-bottom: 50px; }
  &-form {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    &__label {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 13px;
    }
    &__field {
      display: block;
      padding: 8px;
      margin-bottom: 18px;
      font-weight: 500;
      font-size: 13px;
      border: 1px solid #A5A5A5;
      border-radius: 4px;
      &::placeholder { font-size: 13px; }
      &-password { 
        border-color: $text;
        &:last-of-type { margin-bottom: 24px; }
      }
    }
    &__title { margin-bottom: 33px; }
    &__button {
      width: 213px; 
      padding: 17px 30px; 
    }
  }
}