.nav-main {
  font-weight: 500;
  font-size: 20px;
  li {
    margin-bottom: 20px;
    a {
      color: $text;
    }
  }
}

.active {
  position: relative;
  color: $accent!important;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $accent;
    position: absolute;
    left: 0;
    bottom: -4px;
  }
}