nav.nav-main
  ul
    li
      a(href='make-an-order.html').active Сделать заказ
    li
      a(href='my-order.html') Мои заказы
    li
      a(href='catalog.html') Цены и услуги
    li
      a(href='news.html') Новости
    li
      a(href='faq.html') Вопрос/ответ
    li
      a(href='feedback.html') Обратная связь