nav.nav-main
  ul
    li
      a(href='#').active Сделать заказ
    li
      a(href='#') Мои заказы
    li
      a(href='#') Цены и услуги
    li
      a(href='#') Новости
    li
      a(href='#') Вопрос/ответ
    li
      a(href='#') Обратная связь